/***********
*
*   Author: Jakub K.
*
************/

/* tag styles */

div, p, a, span, ul{
    display: block;
}

a:hover{
    color: magenta;
}

a:active{
    color: orange;
}

a:visited{
    color: seagreen;
}