/***********
*
*   Author: Jakub K.
*
************/

/* tag styles */

div, p, a, span, ul{
    display: block;
}

span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}

a[title="Wirtualna Polska"]{
    color: fuchsia;
}

a[href$=".pdf"]{
    color: red;
}